/* Explorer++.css - specialized style sheet for TRANSPARENT rollovers.
A small problem exists with image maps that use roll-over images:
	Since AREAs in an image map contain HREFs, they are subject to the attributes of ALL local links.
	The background-color added to "hover" can cause
		- extra color around the image edge, and
		- failure of any transparent image areas.
The solution is to use separate classes for LOCAL (and EXTERNAL) links, rather than rely on global
attributes in the style sheet.  This is more work, and takes slightly more room, but solves the problem.*/ 


body		{	margin-top: 0px;
				font-family: arial,verdana,tahoma;
				font-size: 80%;
				background: #F5F5F5 }

table		{	font-family: arial,verdana,tahoma;
				font-size: 100% }

/* Local links, but NOT image map AREAs */
a:link		{	color: blue }
a:visited	{	color: blue }
a:hover		{	color: crimson;
				background-color: #D3D3D3 }
				
/* EXTERNAL links */
a.EXTlnk:link		{	color: blue;
						background-color: #BBDDEE } /* was #CCFF33 */
a.EXTlnk:visited	{	color: blue;
						background-color: #BBDDEE } 
a.EXTlnk:hover		{	color: crimson;
						background-color: #D3D3D3 }


p.footnote	{	font-size: 100%;
				margin-left: 0.8em;
				text-indent: -0.8em;
				margin-bottom: -12pt }

.tip 		{	font-size: 100%;
				background-color: #FFFFDD;
				padding: 0.38em ;
				margin-top: 1em;
				margin-bottom: 1em;
				padding-bottom: 0.5em;
				border: 1px solid #CCCCCC}
.tip img	{	float: left }

p.warning	{	font-size: 100%;
				background-color: #FBD2D2;
				padding: 0.38em ;
				margin-top: 1em;
				margin-bottom: 1em;
				padding-bottom: 0.5em;
				border: 1px solid #CCCCCC }
p.warning img	{	float: left }

p.note		{	font-size: 100%;
				background-color: #ECECEC;
				padding: 0.38em ;
				margin-top: 1em;
				margin-bottom: 1em;
				padding-bottom: 0.5em;
				border: 1px solid #888888 }

p.hist_hdg	{	font-weight: bold;
				font-style: italic }

.Heading_2_no_table	{	font-family: arial,verdana,tahoma;
				margin-bottom: 1.6em;

				}

.tabletitle {font-family:arial,verdana,tahoma;
				font-size: 100%;
				font-weight: bold;
				background-color: #DCDCDC; }