version: 1.4.0.{build}
image: Visual Studio 2019
configuration: Release

platform:
- Win32
- x64

environment:
  PFX_ENC_PASS:
    secure: vl0ntw9DjQdAno9nYVe0osg2tBmXD7gW75NLfxIvxMDW3GiVlJlFcESf7v6f7qKe
  PFX_PASS:
    secure: rgMy2ixSiaW0sk2CwaHwO5pK8U98ynzt/jjiGNRSYPfaAcOTRZ5oX+fsgqn6qP54

# Decrypt the code signing certificate.
install:
- cmd: >-
    nuget install secure-file -ExcludeVersion

    SET PATH=C:\Program Files (x86)\HTML Help Workshop;%PATH%

    IF DEFINED PFX_ENC_PASS (secure-file\tools\secure-file -decrypt %APPVEYOR_BUILD_FOLDER%\authenticode.pfx.enc -secret %PFX_ENC_PASS%)

before_build:
- cmd: >-
    nuget restore Explorer++\Explorer++.sln

build:
  project: Explorer++\Explorer++.sln
  verbosity: minimal

# Sign and package the executable.
after_build:
- cmd: >-
    cd %APPVEYOR_BUILD_FOLDER%


    IF "%PLATFORM%" == "Win32" (SET "arch=x86") ELSE (SET "arch=x64")


    SET "archiveName=explorer++_%arch%.zip"


    CALL %APPVEYOR_BUILD_FOLDER%\Scripts\AppVeyor\compile_help_file.bat


    7z a %archiveName% %APPVEYOR_BUILD_FOLDER%\Explorer++\Explorer++\%PLATFORM%\%CONFIGURATION%\Explorer++.exe

    7z a %archiveName% %APPVEYOR_BUILD_FOLDER%\Documentation\User\History.txt

    7z a %archiveName% %APPVEYOR_BUILD_FOLDER%\Documentation\User\License.txt

    7z a %archiveName% %APPVEYOR_BUILD_FOLDER%\Documentation\User\Readme.txt

    7z a %archiveName% "%APPVEYOR_BUILD_FOLDER%\Documentation\User\Help Manual\Explorer++ Help.chm"


    7z a explorer++_%arch%_symbols.zip %APPVEYOR_BUILD_FOLDER%\Explorer++\Explorer++\%PLATFORM%\%CONFIGURATION%\Explorer++.pdb


    copy "%APPVEYOR_BUILD_FOLDER%\Explorer++\Installer\bin\%arch%\%CONFIGURATION%\Explorer++ Setup.msi" "Explorer++ Setup.msi"


    7z a explorer++_translations.zip %APPVEYOR_BUILD_FOLDER%\Explorer++\Win32\%CONFIGURATION%\Explorer++*.dll
artifacts:
- path: explorer++_x86.zip
- path: explorer++_x86_symbols.zip
- path: explorer++_x64.zip
- path: explorer++_x64_symbols.zip
- path: Explorer++ Setup.msi
- path: explorer++_translations.zip