<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.69.0.0" targetFramework="native" />
  <package id="boost_atomic-vc140" version="1.69.0.0" targetFramework="native" />
  <package id="boost_atomic-vc141" version="1.69.0.0" targetFramework="native" />
  <package id="boost_chrono-vc140" version="1.69.0.0" targetFramework="native" />
  <package id="boost_chrono-vc141" version="1.69.0.0" targetFramework="native" />
  <package id="boost_date_time-vc140" version="1.69.0.0" targetFramework="native" />
  <package id="boost_date_time-vc141" version="1.69.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc140" version="1.69.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc141" version="1.69.0.0" targetFramework="native" />
  <package id="boost_locale-vc140" version="1.69.0.0" targetFramework="native" />
  <package id="boost_locale-vc141" version="1.69.0.0" targetFramework="native" />
  <package id="boost_log_setup-vc140" version="1.69.0.0" targetFramework="native" />
  <package id="boost_log_setup-vc141" version="1.69.0.0" targetFramework="native" />
  <package id="boost_log-vc140" version="1.69.0.0" targetFramework="native" />
  <package id="boost_log-vc141" version="1.69.0.0" targetFramework="native" />
  <package id="boost_system-vc140" version="1.69.0.0" targetFramework="native" />
  <package id="boost_system-vc141" version="1.69.0.0" targetFramework="native" />
  <package id="boost_thread-vc140" version="1.69.0.0" targetFramework="native" />
  <package id="boost_thread-vc141" version="1.69.0.0" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.190716.2" targetFramework="native" />
</packages>