#define MAJOR_VERSION	1
#define MINOR_VERSION	3
#define MICRO_VERSION	5
#define BUILD_VERSION	$WCREV$

#define QUOTE_(x)		#x
#define QUOTE(x)		QUOTE_(x)

#define VERSION_STRING	QUOTE(MAJOR_VERSION.MINOR_VERSION.MICRO_VERSION.BUILD_VERSION)
#define VERSION_STRING_W	_T(QUOTE(MAJOR_VERSION.MINOR_VERSION.MICRO_VERSION.BUILD_VERSION))

#define BUILD_DATE		$WCNOW=%d/%m/%Y %H:%M:%S$
#define BUILD_DATE_STRING	_T(QUOTE(BUILD_DATE))
