<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.66.0.0" targetFramework="native" />
  <package id="boost_atomic-vc140" version="1.66.0.0" targetFramework="native" />
  <package id="boost_chrono-vc140" version="1.66.0.0" targetFramework="native" />
  <package id="boost_date_time-vc140" version="1.66.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc140" version="1.66.0.0" targetFramework="native" />
  <package id="boost_locale-vc140" version="1.66.0.0" targetFramework="native" />
  <package id="boost_log_setup-vc140" version="1.66.0.0" targetFramework="native" />
  <package id="boost_log-vc140" version="1.66.0.0" targetFramework="native" />
  <package id="boost_system-vc140" version="1.66.0.0" targetFramework="native" />
  <package id="boost_thread-vc140" version="1.66.0.0" targetFramework="native" />
</packages>